@tailwind base;
@tailwind components;
@tailwind utilities;



html, body, #root {
  height: 100%;
}

body {
  @apply antialiased text-gray-800 bg-gray-50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}
